<div id="js_banner" class="Banner Banner--fixed">
    <nav class="NavGlobal NavGlobal--fixed">
        <a class="Banner-logo" rel="home" href="/"></a>

        <ul class="NavPrimary  NavPrimary--marketing  u-inlineBlock">
            <li class="NavPrimary-item">
                <a class="NavPrimary-link is-active" href="/">Blog</a>
            </li>
            <li class="NavPrimary-item">
                <a class="NavPrimary-link" href="http://www.cloud66.com/tour">Tour</a>
            </li>
            <li class="NavPrimary-item">
                <a class="NavPrimary-link" href="http://www.cloud66.com/features">Features</a>
            </li>
            <li class="NavPrimary-item">
                <a class="NavPrimary-link" href="http://www.cloud66.com/how-it-works">How it Works</a>
            </li>
            <li class="NavPrimary-item">
                <a class="NavPrimary-link" href="http://www.cloud66.com/pricing">Pricing</a>
            </li>
        </ul>

        <ul class="NavPrimary  NavPrimary--app  u-objRight">
            <li class="NavPrimary-item--button">
                <a class="Button Button--pri NavPrimary-button" href="#">Try it free</a>
            </li>
        </ul>
    </nav>
</div>
