@import url("buttons.css");
@import url("typography.css");
@import url("nav.css");
@import url("grid.css");

/*------------------------------------*\
    UTILITY CLASSES
\*------------------------------------*/
.u-objLeft {
    float: left !important;
}

.u-objRight {
    float: right !important;
}

.u-textSmall {
  font-size: 1.2rem !important;
}

.u-textCentered {
    text-align: center;
}
.u-textRight {
    text-align: right;
}
.u-textLeft {
    text-align: left;
}

.u-fullWidth {
    width: 100% !important;
    box-sizing: border-box;
}

/*------------------------------------*\
    BLOCKS (BEM)
\*------------------------------------*/

/*
    HERO - Containing background
*/
.Hero {
	background-image: url(/assets/img/hero-tour.png);
    position: absolute;
    top: 0;
	left: 0;
    height: 600px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 2560px 600px;
    z-index: -1;
}

.post-template .Hero {
    top: -270px;
}


/*
    SECTION
*/
.Section {
    margin-top: 2.6em;
}
.Section--dividerTop {
    border-top: 1px solid #ebf2f6;
}


/*
    MODULE
*/
.Module {
    padding: 2.8em 0;
}
